.name{
    position: relative;
    /* width: 100%; */
    height: 50px;
    top: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
}
.tabs{
    position: relative;
    /* width: 100%; */
    height: 28px;
    top: 60px;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
}
.nav-tabs .nav-link {
    border: none; 
    color: #556789 !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-item.nav-link.active{
    color:#83A515 !important;  
    border-bottom: 5px solid #83A515;
}
thead{
    background: #F1F1F4;
    color: #556789;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.gamePic{
    width:137px;
    height: 137px;
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.151415));
}
.modalTittle{
    display: flex;
    
}
.calendarModalTitle{
    font-weight: 500;
    font-size: 23px;
    line-height: 25px;
    color: #2B416C;
}
.text{
    font-size: 13px;
    line-height: 20px;
    color: #2B416C;
    position: relative;
    left: 20px;
}
.gameName{
    position: absolute;
    height: 19px;
    left: 37.75%;
    top: 21%;
    width: 300px;
    right: 32.25%;
    font-weight: 500;
    font-size: 21px;
    line-height: 19px;
    color: #2B416C;
}
.modal-header{
    border-bottom:none !important;
}
.colPic{
    width: 40px;
    height: 40px;
}
.pricePic{
    width: 24px;
    height: 24px;
    position: relative;
    left: 0%;
    right: 77.57%;
    top: 6px;
    bottom: 0%;
}
.colDate{
    position: relative;
    height: 24px;
    left: -1%;
    right: 91.34%;
    font-size: 16px;
    line-height: 24px;
    color: #2B416C;
}
.colDiff{
    position: relative;
    height: 24px;
    left: -1%;
    right: 93.36%;
    font-size: 12px;
    line-height: 24px;
    color: #7788A3;
}
.colGame{
    position: relative;
    height: 24px;
    left: 5%;
    top:6px;
    right: 70.64%;
    font-size: 16px;
    line-height: 24px;
    color: #556789;
}
.colRegion{
    position: relative;
    height: 24px;
    left: 9.46%;
    right: 70.64%;
    top: 7.5rem;
    font-size: 18px;
    line-height: 16px;
    color: #9CA2B7;
    font-weight: normal;
}
.modal-dialog{
    width:440px !important;
    height:400px !important;
}
.formatter{
    display: flex;
}
.Pricing{
    margin: 15px 0px;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    color: #2B416C;
}
.period{
    font-size: 16px;
    line-height: 24px;
    color: #7788A3;
    font-weight: normal;
}
.price{
    font-weight: bold;
   font-size: 16px;
   line-height: 24px;
/* identical to box height, or 150% */

text-align: right;

color: #556789;
}
.weeks{
    display:flex;
    justify-content: space-between;
    padding: 11px 0px;
}
.viewPrice{
    position: relative;
    height: 16px;
    left: 13px;
    top: 8px;
    cursor: pointer;
    font-size: 15px;
    line-height: 16px;
    color: #7788A3;

}
.csvDiv{
    position: relative;
    left: 0%;
    right: 63.69%;
    top: 0%;
    bottom: 0%;
}
.reportDiv{
    position: relative;
    left: 15%;
    right: 63.69%;
    top: 0%;
    bottom: 0%;
}
.calendarDiv{
    position: relative;
    left: 29%;
    right: 63.69%;
    top: 5px;
    bottom: 0%;
    display: flex;
}
.actionPic{
    width: 18.88px;
    height: 24px;
   
    
}
.scheduleTime{
    position: relative;
    height: 16px;
    left: 17.08%;
    right: 0%;
    font-size: 14px;
    top:15%;
    line-height: 16px;
    color: #7788A3;
    cursor:pointer;
}
.result-calendar{
    position:relative;
    left:1rem;
}
.modal-footer{
    justify-content: center;
    border-top:none !important;
}
.closeButton{
    background: #FFFFFF;
    border-radius: 3px;
    border: 4px solid #2B416C !important;
    color: #2B416C;
    font-weight: 500;
    /* padding: 12px; */
    width: 106px;
    font-size: 20px;
}
span{
    position: relative;
    height: 16px;
    left: 17.08%;
    right: 0%;
    font-size: 14px;
    line-height: 16px;
    color: #7788A3;
}

.tab-content{
    margin: 30px 0px;
}
.modal-backdrop.show {
    opacity: 0.1 !important;
}
.react-calendar{
    border: none !important;
}
