.Container {
  position: relative;
  min-height: 600px;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  .Container { width:67%; }
  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  .Container { width:100%; }
 
}


